# Ignore everything
*

# But not these files...
!.gitignore
!.bashrc
!.oh-my-zsh
.oh-my-zsh/.git
!.Xdefaults
!.xinitrc
!.Xresources
!.zshrc
!config
!config/*
!scripts
!scripts/*
!scripts/**
!README.md
!screenshots
!screenshots/**
!.asoundrc
!.gtkrc-2.0
