# Ignore everything
*

# But not these files...
!dunst
!dunst/*
!fonts
!fonts/*
!i3
!i3/*
!i3status
!i3status/*
!.packages
!ranger
!ranger/*
!rofi
!rofi/*
!wallpapers
!wallpapers/*
!screenshot.jpg
!.gitignore
!Code\ -\ OSS/User/keybindings.json
!Code\ -\ OSS/User/settings.json
!gtk-2.0/*
!gtk-3.0/*
!trizen
!glava
!glava/*
!polybar
!polybar/*
